body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
   background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
     margin: 40px auto 20px; 
    color: orangered;
    border: 3px solid orangered;
    max-width: 65px;
    opacity: 1;  
}

hr {
  border-color: orangered;
  border-width: 4px;
  max-width: 65px;
}

.buffer {
  height: 8rem;
}



.btn-xl {
  padding: 1rem 2rem;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: orangered;
  border-color: orangered;
}

.btn-primary:hover {
  background-color: orangered;
  border-color: orangered;
  border-width: 4px;

}